In [1]:
# Dependencies and Setup
import pandas as pd
import os
import csv
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [2]:
#Display the total number of players
player_count = len(purchase_data["SN"].unique())
player_count = [(player_count)]

#Create a data frame to print only the total players
total_players_df = pd.DataFrame(player_count, columns=["Total Players"])

#Print data frame
total_players_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

In [3]:
#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = len(purchase_data["Item Name"].unique())
price_avg = purchase_data["Price"].mean()
purchase_count = purchase_data["Purchase ID"].count()
total_rev = purchase_data["Price"].sum()

#Create a summary data frame to hold the results
summary = [(unique_items, price_avg, purchase_count, total_rev)]

summary_df = pd.DataFrame(summary, columns=["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])

#Optional: give the displayed data cleaner formatting
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:.2f}".format)

#Display the summary data frame
summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

In [4]:
#Drop any duplicate user purchases
unique_users = purchase_data.drop_duplicates(["SN"])

#unique_users.head()

In [5]:
#Create a data frame to show Count and Precentage grouped by Gender
gender_df = unique_users.groupby(['Gender'])
 
#gender_df.head()

In [6]:
#Capture player count
player_count = gender_df["SN"].count()

#player_count

In [7]:
#Capture player Precent
player_percent = gender_df["Gender"].count()/len(unique_users)

#player_percent

In [8]:
# Create a new DataFrame using both count and percentage
gender_summary_df = pd.DataFrame({"Total Count": player_count,
                                    "Percentage of Players": player_percent})
#Clean the format
gender_summary_df["Percentage of Players"] = (gender_summary_df["Percentage of Players"] * 100).astype(float).map("{0:,.2f}%".format)

gender_summary_df.head()

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

In [9]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

gender_purchase = purchase_data.groupby(['Gender'])
gender_purchase.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [13]:
g_purchase_count = gender_purchase["Purchase ID"].count()
g_price_avg = gender_purchase["Price"].mean()
total_purchase = gender_purchase["Price"].sum()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [ ]:
avg_purchase_user = gender_purchase

## Age Demographics

## Purchasing Analysis (Age)

## Top Spenders

## Most Popular Items

## Most Profitable Items